################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
**/obj/*
/.vscode/*
**/.vs/*
**/bin/Debug/*

*.user


**/PublishProfiles/*
